body {
    color: var(--color-text);
    background-color: rgb(0, 0, 0);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Segoe UI','Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}